In [17]:
from datetime import datetime
import pandas as pd
import math

In [16]:
def round_up(n, decimals=0):
    multiplier = 10 ** decimals
    return math.ceil(n * multiplier) / multiplier

In [30]:
cash_rate = 0.05
interest_reserve_rate = 0.05
interest_reserve_term = .5
origination_points = 0.025
origination_points_deferred = 0.025
principal = 10000000
start_date = datetime.strptime('2019-01-01', '%Y-%m-%d')
# https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases
periods = 366
frequency = 'D'
date_range = pd.date_range(start_date, periods = periods, freq = frequency)
cash = round_up((cash_rate / 360) * principal, 2)
interest_reserve = round_up((interest_reserve_rate * interest_reserve_term) * principal * 365/360, 2)
origination_fee = origination_points * principal
origination_fee_deferred = origination_points_deferred * principal
bullet = origination_fee_deferred + principal
net_funding = principal - interest_reserve - origination_fee
df = pd.DataFrame(data = {'cash_pay' : cash}, index = date_range)
df.reset_index(inplace = True, drop = False)
df = df.append({'A': i}, ignore_index=True)
monthly_schedule = df.groupby(pd.Grouper(freq='M')).sum()

In [32]:
monthly_schedule

            cash_pay
2019-01-31  43055.59
2019-02-28  38888.92
2019-03-31  43055.59
2019-04-30  41666.70
2019-05-31  43055.59
2019-06-30  41666.70
2019-07-31  43055.59
2019-08-31  43055.59
2019-09-30  41666.70
2019-10-31  43055.59
2019-11-30  41666.70
2019-12-31  43055.59
2020-01-31   1388.89